<div class="col">
  <h2 class="text-center">Agregar Evaluacion</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="postedBy">Autor:</label>
        <select formControlName="postedBy" name="postedBy" class="form-control" id="postedBy" *ngFor="let turista of turistas" required>
          <option formControlName="postedBy" name="postedBy" class="form-control" id="postedBy" value="{{ turista.id }}">{{ turista.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="ratedPlace">Lugar Evaluado:</label>
        <select formControlName="ratedPlace" name="ratedPlace" id="ratedPlace" class="form-control" *ngFor="let place of places" required>
          <option formControlName="ratedPlace" name="ratedPlace" id="ratedPlace" class="form-control" value="{{ place.idPlace }}">{{ place.namePlace }}</option>
        </select>
        <!--<input formControlName="ratedPlace" placeholder="Lugar" name="ratedPlace" class="form-control" id="ratedPlace" >--><!--required -->
      </div>

      <div class="form-group">
        <label for="locationRate">Ubicacion:</label>
        <select formControlName="locationRate" name="locationRate" class="form-control" id="locationRate"><!--required -->
          <option formControlName="locationRate" name="locationRate" class="form-control" id="locationRate" value="5">Excelente</option>
          <option formControlName="locationRate" name="locationRate" class="form-control" id="locationRate" value="4">Buena</option>
          <option formControlName="locationRate" name="locationRate" class="form-control" id="locationRate" value="3">Regular</option>
          <option formControlName="locationRate" name="locationRate" class="form-control" id="locationRate" value="2">Mala</option>
          <option formControlName="locationRate" name="locationRate" class="form-control" id="locationRate" value="1">Muy Mala</option>
        </select>
      </div>

      <div class="form-group">
        <label for="priceRate">Precio:</label>
        <select formControlName="priceRate" name="priceRate" class="form-control" id="priceRate" ><!--required -->
          <option formControlName="priceRate" name="priceRate" class="form-control" id="priceRate" value="5">Muy Comforme</option>
          <option formControlName="priceRate" name="priceRate" class="form-control" id="priceRate" value="4">Conforme</option>
          <option formControlName="priceRate" name="priceRate" class="form-control" id="priceRate" value="3">Indiferente</option>
          <option formControlName="priceRate" name="priceRate" class="form-control" id="priceRate" value="2">Presenta Fallas</option>
          <option formControlName="priceRate" name="priceRate" class="form-control" id="priceRate" value="1">No vale la pena</option>
        </select>
      </div>

      <div class="form-group">
        <label for="serviceRate">Servicio:</label>
        <select formControlName="serviceRate" name="serviceRate" class="form-control" id="serviceRate"><!--required -->
          <option formControlName="serviceRate" name="serviceRate" class="form-control" id="serviceRate" value="5">Excelente</option>
          <option formControlName="serviceRate" name="serviceRate" class="form-control" id="serviceRate" value="4">Agradable</option>
          <option formControlName="serviceRate" name="serviceRate" class="form-control" id="serviceRate" value="3">Regular</option>
          <option formControlName="serviceRate" name="serviceRate" class="form-control" id="serviceRate" value="2">Malo</option>
          <option formControlName="serviceRate" name="serviceRate" class="form-control" id="serviceRate" value="1">Pesimo</option>
        </select>
      </div>

      <div class="form-group">
        <label for="comment">Comentario:</label>
        <textarea placeholder="Comentario" name="comment" class="form-control" id="comment" formControlName="comment">
        </textarea>
        </div>

    <button class="btn btn-success">Aceptar</button>
    <button class="btn btn-primary" routerLink="list-rating">Regresar</button>
  </form>
</div>
